**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/dist
**/logs
**/Temp
**/*.md
**/*.log
**/ClanServiceTest
**/IdentityServiceTests
**/postgres-init
**/.env
**/.env.*
**/docker-compose*.yml
**/.dockerignore
**/.gitignore
**/keybindings.json
